[2016-08-12 04:00] elespike opened #2 "Add option to duplicate tabs"
Useful when configuring a new tab requires only minor changes to an already-configured tab.

This could either be a button on each tab (presumably at the top, with the move buttons) and/or some sort of control in the Options tab.

[2016-08-15 02:28] elespike commented on #2
Should be working as intended and should have taken into account all use cases (including bad ones), extra testing is still a good idea.

[2016-09-21 21:10] eth0up opened #3 "Undo/Redo for CPH JTextFields"
If it is possible, we should implement CTRL+Z and CTRL+Y for Undo/Redo. When I accidentally overwrite something I have previously entered, there is no easy way to get it back.

[2016-09-21 21:12] eth0up commented on #2
This has been complete, the Clone button works as expected.

[2016-09-21 21:12] #2 closed, assigned to nobody

[2016-09-29 18:57] eth0up commented on #3
Burp supports Undo in the Repeater tab's Request Editor (likely other areas too)

[2016-09-29 19:08] eth0up opened #4 "First/All/Custom Radio Button for "Match Indices""
Add radio buttons for "first match", "all matches", and "custom".

With First selected, "0" value is in the field and the field is disabled.
With All selected, "0:-1,-1" value is in the field and the field is disabled.
With custom selected, the value does not change from it's previous setting until the user changes it, and the field is enabled.

Super-quick mock-up:
![image](https://cloud.githubus

[2016-10-14 02:20] elespike opened #5 "Add capability to include \r\n in replace values"
Need to consider how to best do this. Regex option? Parse only a literal \r\n and convert it to CRLF?

[2016-11-15 01:00] elespike commented on #5
Done!

[2016-11-15 01:00] #5 closed, assigned to elespike

[2016-11-17 05:20] eth0up commented on #4
https://github.com/elespike/burp-cph/commit/483f5e6afa71d9c5489c9368d014a87cb94f6972

[2016-11-17 05:20] #4 closed, assigned to eth0up

[2016-11-17 05:26] eth0up opened #7 "Add contextual label for Param Handling ("Determine where...")"
Similar to how the Labels in the message modification scope change based on which radio button is selected, we should consider doing this for the Match Options label also.

[2016-11-17 17:33] eth0up opened #8 "Prevent UI overlapping in Match Options"
When resizing the Burp window to be more horizontally narrow, the "Determine where.." and "Match indices.." text entry fields (including the RegEx checkbox) can overlap each other, causing relevant data and/or UI controls to be obscured.

[2016-11-18 06:21] elespike commented on #8
Fixed! Was an issue with the grid; the last elements were actually on the same grid cell.

[2016-11-18 06:21] #8 closed, assigned to elespike

[2016-11-18 06:22] elespike commented on #7
Done, and also linked the other label, "Insert/Replace existing value with this one..."
Tested that it works with quickload and import config.

[2016-11-18 06:22] #7 closed, assigned to elespike

[2016-11-18 06:23] elespike commented on #3
Preliminary research on this suggests it may be a pretty intensive endeavor. =/

[2017-02-03 05:10] elespike opened #10 "Overly zealous URL encoding"
Burp's url-encoding callback is creating issues for us; it will encode meaningful url characters like ? and &.

Starts on line 216 in CustomParamHandler.py.

[2017-02-03 05:14] elespike opened #11 "Effective modification viewer"
Create a tab or something akin to your usual logger that will show the original request as it came in and the final request that was issued.

This would be especially useful because many of Burp's tools will not update the UI when changes to the requests were made using the HTTPListener interface behind the scenes (which we do all the time).

Lastly, only display requests/responses that were actua

[2017-02-03 05:18] elespike opened #12 "Investigate the ability to reference a cached tab"
Rather than relying on tab order when using cached responses, see if it's possible to reference a tab whose cached response you'd like to use.

This would allow more than one tab to use multiple distinct values from a single cache tab.

[2017-03-20 03:22] elespike commented on #10
Fix tested and committed.

[2017-03-20 03:28] #10 closed, assigned to elespike

[2017-03-21 03:39] elespike commented on #12
Prototyped in my development branch.

[2017-03-29 19:59] eth0up opened #13 "Switch to json for user-saved config files"
1. Switch to saving user config in json format

2. Save the config files with the ".json" extension

3. Ensure that "load config" dialogs filter to the new .json config file format

[2017-05-08 14:53] adayrodri opened #14 "URL-encode first line of request results in unexpected response"
The first line of the request is url-encoded every time, even when the path/parameters were not modified. In many cases this results in an improper response from the server. I'd propose the following updates:
1) url-encode the first line of the request Only if it was modified
2) adding a checkbox for setting on/off the url-encoded feature

Excellent work, thank you.

[2017-05-10 00:50] elespike commented on #14
@adayrodri, thanks for the feedback! I do believe I can implement the updates you've suggested, including the checkbox.

[2017-05-14 18:14] elespike commented on #14
@adayrodri I've got this working in the latest commit to the current development branch, if you'd like to give that a shot:
https://github.com/elespike/burp-cph/commit/60dd226bb2ebf37a12c6e2fd4ed6207bf5be5f1f

[2017-06-01 20:25] elespike commented on #3
Successfully deployed in dev branch!

[2017-06-07 05:18] elespike opened #15 "Add keybindings"
[code]

[2017-06-07 05:18] elespike commented on #15
Done in development branch!

[2017-06-21 01:00] #3 closed, assigned to elespike

[2017-06-21 01:00] #11 closed, assigned to elespike

[2017-06-21 01:00] #12 closed, assigned to elespike

[2017-06-21 01:00] #13 closed, assigned to elespike

[2017-06-21 01:00] #14 closed, assigned to elespike

[2017-06-21 01:00] #15 closed, assigned to elespike

[2017-08-01 10:09] pandasauce opened #18 "Add support for multiple parameters"
In some cases, more than one parameter needs to be tracked. In my particular use case, it is a CSRF token and object version ID that change for each request. The sequence is:

1. Catch a request in CPH.
2. Issue another request prior to forwarding step 1.
3. Extract CSRF header value and cookies from step 2.
4. Extract additional parameter, version ID from step 2.
5. Forward step 1 with these extr

[2017-08-01 15:12] pandasauce commented on #18
For my purposes I made a hacky workaround that allows me to set up one tab to use step 2 of a different tab as extraction source. I won't be submitting a merge request because a cleaner implementation is needed. It currently uses MainTab object to store a static variable (essentially a global) with a cached request of step 2.
https://github.com/pandasauce/burp-cph/commit/b9d3c908dd69786162d13239a6

[2017-08-03 04:45] elespike commented on #18
Hi there, @pandasauce !

This is a cool use case. I'm happy to say that CPH can actually already do this at its current state, if I've understood your scenario correctly. Short demonstration gif below.

Basically:
- Check "Extender" under the Options tab so CPH can handle requests from Burp extensions (including itself). This will allow CPH to re-use the responses to its own requests (but not modi

[2017-08-03 14:05] pandasauce commented on #18
That worked like a charm, thanks!

[2017-08-03 14:20] pandasauce commented on #18
On a side note, this setup allows for 2 parameters to be extracted. What about scenarios with an arbitrary number of parameters?

For example, a single form may be allowing to edit multiple objects in the application. After each form submission, updates are written to all objects in that form, and new identifiers are generated for all objects. These new identifiers need to be included for next for

[2017-08-03 22:18] elespike commented on #18
As long as the number of parameters is known, you'd need at most an extra tab to modify each parameter.

Essentially:
- Tab 1 would remain the same to get the token
- Tab 2 would remain the same to cache tab 1's issued request/response
- Tab 3 would deal with the first additional parameter by using Tab 2's cache
- Tabs 4 through N can still use Tab 2's cache, so they'd deal with the second through

[2017-08-15 20:12] amroot opened #19 "Doesn't update tokens in repeater."
Hi,

First, cool tool so thanks.

I'm likely doing this wrong but maybe not.

The goal is to update the request body with an obtained token for any API request that requires a token. Testing in repeater. Everything seems to work okay in debug but the token never gets updated in repeater and an error is thrown.

1. "Scope": Repeater
2. "This tab will work only on requests that contain this expressi

[2017-08-15 22:59] elespike commented on #19
Hi, @amroot!

At first glance, this may be related to the setup of the regular expression. Curly braces have special meaning, so you'll need to escape them when using RegEx. Try this, for instance:
`\{"token.*\}`

If that doesn't work, would you be able to export your CPH config and attach it here, along with a sample JSON/token that you'd like to extract?

[2017-08-16 16:23] amroot commented on #19
I'm sorry, I modified my regex before posting to keep from relieving too much application functionality. I did have the brackets escaped.

I believe I figured out the bug though and I was able to reproduce it. If the regex .* in _"1) Find matches to this expression"_ returns something like JSON that contains brackets [ ] , it will produce an error. I shortened the regex to not return brackets in t

[2017-08-20 03:45] elespike commented on #19
@amroot I've been unable to recreate the issue. Here's what I tried:

![cph_config](https://user-images.githubusercontent.com/14970655/29491899-43aadf4a-8538-11e7-888e-db9162a4ff1f.png)

![repeater](https://user-images.githubusercontent.com/14970655/29491900-4de83246-8538-11e7-9fa5-6df3829939ad.png)

CPH output:
[code]

[2017-08-20 03:47] elespike commented on #18
@pandasauce good to close the issue?

[2017-08-21 18:57] amroot commented on #19
Thanks for the detailed reply.

Add a JSON array with square brackets to your request. the square brackets returned in .* seem to cause the problem.

POST Request body:
`{ "token": {"access": "123","ids": "[]"}}`

[2017-08-22 16:52] elespike commented on #19
@amroot, got it!

Pretty neat little bug you found. =)

Would you please try using the attached file and see if the problem is solved? Just rename it back to .py and load it into burp. I'll push the changes up to the repository once you confirm the fix.

[CustomParamHandler_merged.py.txt](https://github.com/elespike/burp-cph/files/1242736/CustomParamHandler_merged.py.txt)

[2017-08-22 23:38] amroot commented on #19
That seems to work great, thanks!

[2017-08-22 23:38] #19 closed, assigned to elespike

[2017-09-10 04:58] #18 closed, assigned to nobody

[2017-10-25 21:07] eth0up opened #20 "Add text to "..value from previous tab..." help button"
Advise along the lines of "if this combobox is empty, ensure previous tab has seen the request at least once"

[2017-10-25 21:08] eth0up opened #21 "Finish documentation, convert gif guides"
Convert gifs to webm to allow for pausing

[2017-10-25 21:10] eth0up opened #22 "Add burp message viewer control (text/search bar) to EMV"
ensure that monospaced font is obtained for free from messageviewer control, or otherwise implement it

[2017-11-06 14:33] eth0up commented on #20
Added help text for clarity/guidance when combobox doesn't contain the desired tab

[2017-11-06 14:33] #20 closed, assigned to eth0up

[2018-01-11 16:53] Simon-Davies opened #23 "Replace User-Agent RegEx with nothing doesn't work"
See the Remove User Agent config in the screenshot. The only way to get this to work is to replace User-Agent: with Old-User-Agent:

![untitled](https://user-images.githubusercontent.com/713455/34836470-e40790a4-f6ef-11e7-8b35-4761c993314c.png)

[2018-01-12 03:22] elespike commented on #23
Hi, @Simon-Davies!

A couple things to consider:
- I fixed a regex bug (#19) a little while ago that hasn't yet been pushed to Burp's BApp store. For now, you'll need to run the latest version from this repository.
- Even when you do use the latest version with the bug fix, here's how you would configure CPH to remove the User-Agent entirely:

![image](https://user-images.githubusercontent.com/149

[2018-01-12 09:13] Simon-Davies commented on #23
This is now working . Thank you for your help.

[2018-01-12 09:13] #23 closed, assigned to nobody

[2018-01-12 15:37] elespike commented on #23
My pleasure!

[2018-02-27 21:30] elespike commented on #22
https://github.com/elespike/burp-cph/commit/ba343b797e12f706f8f567afce722894b9c3dd34

Some more testing before we close the issue.

[2018-03-12 09:19] d0nutptr opened #24 "Change the regex system to support back references"
Hello!

I propose we add support for [back references](https://regular-expressions.mobi/refcapture.html?wlr=1) in the find/replace system. As part of this, we should also closely examine the replacement code because some cases of regex are not supported correctly.

For example: `(?<=abc)(def)` on the text `"xyzdefabcdef"` with replacement of `"ghi"` results in `"xyzghiabcghi"` because the system,

[2018-03-12 13:18] elespike commented on #24
This was a deliberate design for some reason which now escapes me. I'll play around with this again and see how it could work.

[2018-04-16 19:55] eth0up opened #25 "Add a mechanism for automatically loading settings"
The ability to automatically load settings would help when running Burp in headless mode, for automated deployments and the like. See the following post for a potential use case: https://support.portswigger.net/customer/portal/questions/17315873-headless-scan-in-burp-with-bearer-token

[2018-04-19 08:22] yehgdotnet opened #26 "Suggestion/Get the matched value and usend"
Hello Team

I have read your help doc but couldn't find a relevant info.

Is it possible to use your CPH to

1. Grab the match
2. Send the matched string to remote host

?

Thanks for the great plugin.

[2018-04-21 16:07] elespike commented on #26
Hi, @yehgdotnet

Can you provide some additional details around what you're trying to do?

If I understand this correctly, you're not looking to modify anything, but just match a string from one host and send it to another host?

[2018-04-22 13:51] yehgdotnet commented on #26
Hi @elespike

My usecase scenerio for CPH is:

For example, an application displays hidden input field with encoded data: `<input type="hidden" name="data" value="hex{{bas64{{base64}}}}">`

1. Grep the match using name="data" value="(.*?)"
2. Send/GET/POST this matched string to http://localhost/decoder.php?data=

decoder.php will output to console which will allow me to read decoded value without

[2018-04-22 19:14] elespike commented on #26
Got it, I think I know how to go about it. Let me try a few things and I'll get back to ya.

[2018-04-25 12:46] Hipapheralkus opened #27 "support for multiple regexp groups"
Hi,
I have parameters with unique name + value for each session in the GET request, which look like `_portlet_instance_cJ1vzbzA0fql_id=49006de3-de69-4f79-a882-cbff86cfb9b5`

I tried to set "Find matches to this expression" to `_portlet_instance_([a-zA-Z0-9]{12})_id=([\w-]{36})` and set the same regexp for replacement. However, when I check extender output, I get `[INFO] Match index [0]: matched "c

[2018-04-25 12:55] Hipapheralkus opened #28 "Find/extract regexp in header/body/both"
Hi,
I see an environment, where in each response, there is a `x-request-path:` header, which basically reflects the entire URL. For example: `x-request-path: /web/index.hml?param1=2&paramX=Y&csrf=123`.

Is it possible to add support to matching expressions and extracting values within header, body, or both?

For special csrf parameters, when I would try to parse them from HTTP response by some reg

[2018-04-25 13:00] Hipapheralkus opened #29 "Single request per session option"
If there are complex CSRF parameters (e.g. name of the parameter is also of a unique value), currently, native Burp session management doesn't support handling them. When I want to configure it manually, and use as part of Active scanner, there are many more requests in session tracer. Would it be possible to somehow bind this extender to session manager, so that a request would be used only once

[2018-05-04 13:10] elespike commented on #27
Hi, @Hipapheralkus!

In short, yes, I'm looking into implementing full regex support. See also #24.

[2018-05-04 13:14] elespike commented on #28
@Hipapheralkus, this can already be done using the following mechanism:
https://elespike.github.io/burp-cph/#quickstart/indices

This allows you to select which matches to modify.

[2018-05-04 13:42] elespike commented on #29
Hi, @Hipapheralkus!

If I understand this correctly, the existing caching mechanism should allow you to do this:
1. Configure a CPH tab to watch for the the response that sets the CSRF token:

![1](https://user-images.githubusercontent.com/14970655/39631132-5fbe4fc0-4f7f-11e8-8b70-6be0b030c33d.png)

2. Configure a second tab to use the first tab's cached value:

![2](https://user-images.githubuser

[2018-05-04 13:45] elespike commented on #25
I'd also like to look into saving the global settings found in the Options tab, which control tool scope and verbosity.

[2018-05-04 14:19] elespike commented on #26
@yehgdotnet, got a solution for ya. It involves using one of Burp's session handling action: run a post-request macro.

1. Configure a macro that contains just your request to `decoder.php`, doesn't matter what the value of `?data=` is, we'll use CPH to inject it.

2. Configure a session handling rule to run a post-request macro, as such:

![2](https://user-images.githubusercontent.com/14970655/39

[2018-05-04 14:38] yehgdotnet commented on #26
Wow that's FANTASTIC!!! Let me try.

[2018-06-09 19:19] #26 closed, assigned to nobody

[2018-06-09 19:20] #28 closed, assigned to nobody

[2018-06-09 19:20] #29 closed, assigned to nobody

[2018-06-19 17:16] eth0up opened #30 "When loading CPH tabs that have "previously cached response" selections, they sometimes load the wrong cached tab"
Sometimes when loading CPH config, the wrong "previous tab cached response" tab is selected.

[2018-06-19 17:21] eth0up opened #31 "Add "Macro" text to "CPH Tool scope settings" Target section."
In order for CPH to cache or modify traffic coming from a Macro test, CPH Tool scope settings must have the Target checkbox selected. This is not readily apparent, and may require some trial and error by a user before they understand why they cannot see Macro testing traffic in CPH. We could add Macros to this checkbox's label to make it read: "Target (incl. Macros)", or similar.

[2018-06-19 17:39] eth0up commented on #30
This issue also occurs during a scan. You can watch it select the wrong/different tab in real time, and it causes the results of the scan to be inaccurate. It doesn't matter the orientation of each tab, and the issue was observed with multiple tabs that were configured to use a value from a previously cached response.

[2018-06-22 11:44] klaas-pggm commented on #25
Yes, please. The CPH extension is very usefull to me but I cannot use it in automation scenario's.
I would like to load a settings file from the command prompt in headless mode. Also I would like to have the scan option "Scanner" on the options tab set by default or loaded by configuration as well.
With those additions, this extension would be perfect for me.
Thanks a lot!

[2018-07-06 13:04] andresriancho opened #32 "Extension doesn't play well with Logger++"
I always use the Logger++ extension to see what goes out from Burp.

Lately I had to install CPH to "fix" some requests that the Scanner was generating. After enabling CPH I noticed that Logger++ is not showing the requests generated by the scanner in the log anymore.

Is there a way for both extensions to play well together?

[2018-07-06 13:09] andresriancho opened #33 "Host header mixup"
CPH seems to be ignoring the target host / port for requests and instead using the value in the `Host` header.

After using the extension for a while I found that sending this via the repeater:

[code]

With target configured to `foo.com` port `443`, will actually send an HTTP request to `andresriancho.com`!

This issue also applies to the scanner module. Because of this CPH issue, burp scanner id

[2018-07-06 13:11] andresriancho commented on #33
Maybe the host should be extracted like https://github.com/elespike/burp-cph/blob/master/CustomParamHandler.py#L137 , instead of parsing the `Host` header from the request string?

[2018-07-07 15:20] #22 closed, assigned to nobody

[2018-07-07 15:21] elespike commented on #24
@d0nutptr, good draft ready at https://github.com/elespike/burp-cph/tree/elespike-dev. Haven't done all the tests I'd like yet, but feel free to take it for a spin.

[2018-07-07 15:38] elespike commented on #27
@Hipapheralkus, a functional draft is available at https://github.com/elespike/burp-cph/tree/elespike-dev.

Please note, however, that the behavior has changed. There's no odd, custom handling of groups anymore; now you can use the full regex group capability.

For example:
Find matches to this expression: `(aaa)(bbb)(ccc)`
Replace with a static value (which now can be a regex): `\1BBB\g3`
Result:

[2018-07-07 15:40] elespike commented on #32
Hi, @andresriancho! (w3af! :D)

That's weird, I'll mess around with it and see what's going on.

[2018-07-07 15:44] elespike commented on #33
Hi, @andresriancho!

Yup, I originally wanted the Host header to redirect the request to that host because I was using it that way for something at the time.

Lately, I also realized that's incorrect behavior, as sometimes you need to test the Host header without changing the target.

I'm not sure if the original use case should be preserved, but I can always make it an option (default off) to cha

[2018-07-09 03:56] elespike commented on #33
@andresriancho, prototype available at https://github.com/elespike/burp-cph/tree/elespike-dev.

[2018-07-09 03:58] elespike commented on #31
Is just `Target/Macros` good enough?

[2018-07-09 04:09] elespike commented on #25
Decoupling CPH's logic from its UI will be much trickier than anticipated, unfortunately, to the point that it's probably easier to write a whole new module to handle headless operation.

I'll tinker with the idea, though it'll take some time.

[2018-07-16 18:38] andresriancho commented on #33
Sorry for the delay in my response. Which commit has the bug-fix?

[2018-07-16 19:16] elespike commented on #33
https://github.com/elespike/burp-cph/commit/67ffc4b11a96d1286e4df60ee3fa0380bb9e4b97
It's pretty big, I decided to make explicit controls for this.

Alternatively, you could just comment these out from the master branch:
https://github.com/elespike/burp-cph/blob/master/CustomParamHandler.py#L280,L281

[2018-07-18 22:38] elespike commented on #32
@andresriancho, I've been unable to recreate this so far. I had both CPH and Logger++ going, in different order (in the Extender tab), and performing request modifications. Still saw logs popping up for Scanner.

Can you confirm that only these 2 extensions are loaded, and tell me any other details that might help? Perhaps try it after resetting Burp to default settings?

[2018-07-19 12:25] eth0up commented on #31
That should work!

[2018-07-19 12:29] eth0up commented on #30
(needs testing) Changed previously cached response logic, removed explicit setting of the combobox: https://github.com/elespike/burp-cph/tree/Cache_prev_tab?files=1

[2018-07-23 01:41] elespike commented on #30
@eth0up, unfortunately your changes stop the dynamic updates for cached responses, so the first value might work but future values won't be extracted.

But I did get ideas from your work, and have come up with a way to handle caching that doesn't spaz out:
Commit - https://github.com/elespike/burp-cph/commit/da3e6437795aa3bc3241e4a9119a8ba423ee9823
Check it out in my [dev branch](https://github.co

[2018-08-28 21:22] andresriancho commented on #32
Sorry for the incorrect bug report, I tried again and it seems to be working.

[2018-08-28 21:22] #32 closed, assigned to elespike

[2019-01-14 04:50] #33 closed, assigned to elespike

[2019-01-14 04:51] #30 closed, assigned to eth0up

[2019-01-14 04:51] #27 closed, assigned to elespike

[2019-01-14 04:51] #24 closed, assigned to elespike

[2019-01-14 04:53] elespike commented on #21
No gifs (too much work to keep updated), but new Wiki and interactive demos with pre-built configs (which double as manual tests)!

[2019-01-14 04:53] #21 closed, assigned to elespike

[2019-04-16 10:49] santokri opened #36 "Regarding help in Session Handling with Burp Intruder and Custom Parameter Handler for Oauth App"
My Problem statement : This is what I need and configured so far

1. After my Intruder requests starts getting HTTP/1.1 Unauthorized I have configured a Rule 1 with Rule Actions : Check session is valid
2. Under Check session is valid I have

Added a Macro to validate session ---> In this have added the PUT request I use in the Intruder

Under Inspect response to determine session validity ---> In

[2019-04-23 19:07] gk0us opened #37 "CPH escapes special characters"
### Steps to reproduce
Put the following string in the expression field which is going to be used to update each field:
`/ \@"`

The result after the replacement will be:
`\/\ \@\"`

[2019-04-25 02:25] elespike commented on #37
Indeed it does, if you have the RegEx box unchecked:
https://github.com/elespike/burp-cph/blob/master/CPH_Config.py#L1372

Is this preventing you from achieving a desired outcome, and have you tried it with the RegEx enabled? What's your use case?

[2019-04-25 02:31] elespike commented on #36
@santokri,

Have you explored the following example?
https://github.com/elespike/burp-cph/wiki/07.-Extracting-replace-value-from-final-macro-response

It's analogous to what you're trying to achieve, if I understand your scenario correctly.

[2019-04-29 16:22] gk0us commented on #37
Indeed, in case of adding a JWT in CPH, with the RegEx checkbox selected, special characters are not escaped. I will get back to you when I try a more complex scenario.

I will try a more complex scenario and get back with the results.

[2019-07-05 15:51] th3-s3m opened #38 "Special characters are not escaped for named groups"
In the modify_message function, when dynamically generating the regex value, special characters are not escaped if they're part of a named group (?P<{}>{}). When executing "match_exp = re_compile(exp + groups_exp)", groups_exp may contain special that will either generate an error or unexpected behavior.

**Workaround:**
In my case I was extracting a string that sometimes contains a + (base64-ish)

[2019-08-17 16:28] elespike commented on #38
Great catch, thank you!

Fixed here: https://github.com/elespike/burp-cph/commit/8d46886abc9d55101c5e1cc05dba313bed77df41#diff-d59f892b7de1f2c8e5a2321095f452b4R451

[2019-08-17 16:28] #38 closed, assigned to elespike

[2019-08-27 17:44] illnino opened #39 "Utilizing cached responses"
**Can i accomplish below with CPH?**

## Scenario

There are three endpoints calls in order:
1. `/getToken`
2. `/verify`
3. `/confirm`

To call `/verify`, it requires a valid token from response of `/getToken`. In return, the server would return a unique identifier - `uniqueId`.

[code]

To call `/confirm`, it requires a valid token from response of `/getToken` and a uniqueId from response of `/ve

[2019-08-28 02:34] elespike commented on #39
Hello, @illnino

Yes, and there are a few options depending on what your trigger is for the `/confirm` request.

Have a look at:
https://github.com/elespike/burp-cph/wiki/08.-Utilizing-cached-responses
https://github.com/elespike/burp-cph/wiki/06.-Macros-vs-CPH
https://github.com/elespike/burp-cph/wiki/09.-CPH-as-an-alternative-to-macros

If you still need a hand, could you elaborate a little more

[2019-08-28 02:35] elespike commented on #37
Hi, @gk0us

Were you able to achieve your objective? Can I close this issue, or did you spot a bug?

[2019-08-28 02:36] elespike commented on #36
Hi, @santokri

Were you able to achieve what you needed? Can I close this issue?

[2019-08-28 08:08] illnino commented on #39
Hi @elespike

Thanks for your reply.

`/confirm` is my primary target, which i would like to know if any vulnerabilities.

But to call `/confirm`, i need to call `/getToken` to obtain a valid token, and call `/verify` to obtain a unique id first.

In a nutshell, it cant be scanned.

I am wondering if i could take advantage of CPH to automate the process. Thanks.

### Request 1 - getToken
[code]

#

[2019-08-28 18:22] elespike commented on #39
@illnino, if `/confirm` is your primary target, I'd suggest:

1. A tab to trigger `/getToken` every time CPH sees a request to `/verify`
    1. This tab will also update the `token` in the request to `/verify`
2. A tab to trigger `/verify` every time CPH sees a request to `/confirm`
    1. This tab will also update the `uniqueId` in the request to `/confirm`
3. A tab to cache the response from `/g

[2019-08-30 20:54] #37 closed, assigned to nobody

[2019-08-30 20:55] gk0us commented on #37
I did not find any issues, when using the RegEx option enabled. Issue closed.

[2019-09-01 10:22] illnino commented on #39
Hi @elespike

Thanks for your example json.

May I ask if the order of the tabs matter? It doesnt seem to match what you described above. `Cache Token` is in the 2nd place in your example json.

From what i understand about the example.json, in the traffic log we should see:

1. Request 1
[code]

2. Request 2
[code]

3. Request 3
[code]

4. Request 4
[code]

5. Request 5
[code]

6. Request 6
[code

[2019-09-01 11:57] illnino commented on #39
Unfortunately, I cant get it worked. CPH did not update the values. Did I miss anything? Thanks.

Here is a sample server:
[code]

## Reproduction Steps
1. I have changed my host file to map example.com to 127.0.0.1.
2. Add example.com to my scope in Burp
3. Change port number 80 to 3000 in your sample.json.

[2019-09-06 02:52] elespike commented on #39
Hi, @illnino

The order of the tabs matters in the sense that they will be executed from left to right. That said, since you can scope each tab to only work with particular requests/responses, sometimes ordering isn't very important. In your case, some tabs matter.

I will highlight below when a tab should be in a particular position. Furthermore, I have created [this new config file](https://gith

[2019-09-11 03:17] elespike commented on #39
@illnino, any news? Were you successful this time around?

[2019-09-11 21:23] illnino commented on #39
Sorry for the late reply, @elespike . The config works like a charm. Thanks.

However, I still have a few questions.

1. Each tab has a checkbox next to the tab's name. I noticed the one for caching request doesnt have it enabled. Does it mean in CPH for caching request tabs, the checkbox will be ignored?
2. In Logger++, I saw three requests were sent in a sequence order as expected. But I found i

[2019-09-13 22:08] elespike commented on #39
1. The caching mechanism works regardless of the checkbox. Since the whole purpose of that tab is to cache, there's no reason to enable it.

2. I can't be 100% sure without some additional details, but it sounds like you may need to adjust the RegEx when modifying `/confirm` (some of them were essentially `".+"`, for example, which would replace everything up to the last quote, thus erasing `myord

[2019-09-13 22:18] illnino commented on #39
For example

The correct request to call `/confirm` is

[code]

instead of

[code]

I have tried to submit a request like below in repeater

[code]

But I found indeed CPH modified the request as below

[code]

I hope above clarifies.

[2019-09-14 15:22] illnino commented on #39
Sorry I made a mistake. I didnot realize there is a debug window. By viewing the logs in EMV, I noticed there was an extra space that was added, that caused the Regex did not match `uniqueid`

[2019-09-14 15:22] #39 closed, assigned to elespike

[2019-09-15 14:43] elespike commented on #39
Excellent, glad you worked it out. =)

[2019-09-17 08:03] illnino opened #40 "Call same url twice with different parameter"
It is not a bug, but an inquiry.

Can i accomplish below with CPH?

## Scenario

To authenticate, a user is required to call `/authenticate` twice.

[code]

[code]

Before a user sends out username & password, he is required to call the same endpoint without any parameter to obtain a `jwt`.

If we add a tab to capture request that match `/authenticate`, it seems it would have infinite loop.

Does

[2019-09-17 11:48] elespike commented on #40
Hi, @illnino

It should work without an infinite loop. Just add a tab that watches for `/authorize` and submits the second request to `/authorize`.

[2019-09-18 11:22] illnino commented on #40
## Mock Server

[code]

## My config
[twice.json.txt](https://github.com/elespike/burp-cph/files/3626085/twice.json.txt)

## My request in Repeater

[code]

It returns
[code]

If I press issue button, go back to repeater, and issue a new request.  I got
![image](https://user-images.githubusercontent.com/1298646/65142734-4940f500-da0b-11e9-8481-3182645c8a01.png)

[code]

Moreover, I dont understand

[2019-09-18 13:34] elespike commented on #40
Ah, I see you have to update it in two places. That does make it trickier, but you were _really_ close, well done!

I've only had to make minor changes to your config:
1. I adjusted the cache tab scope to only work on responses containing `"jwt"` (so that it wouldn't cache the request from Repeater)
2. Your Repeater request had a space after `"jwt":`, but the regular expression in the `update body

[2019-09-18 21:53] illnino commented on #40
Thanks for your quick reply.

## Problem
I found a tiny problem. The first request sent from repeater would not get the expected response. I had to send a 2nd request in repeater

![image](https://user-images.githubusercontent.com/1298646/65187894-f09e4600-da64-11e9-819d-268cc07cb5dc.png)

**1st request**
![image](https://user-images.githubusercontent.com/1298646/65188285-fa747900-da65-11e9-84ff-7

[2019-09-18 22:59] elespike commented on #40
I won't be able to verify this until tomorrow, but I think the tab order may be the issue here.

Try moving the `update body` tab before the `update header` tab, so that the empty request to `/authenticate` gets issued beforehand.

[2019-09-19 20:05] illnino commented on #40
Spot on. Thanks.

[2019-09-19 20:05] #40 closed, assigned to elespike

[2019-10-03 16:02] Jnchi opened #41 "Document release process"
Commit https://github.com/elespike/burp-cph/commit/1c7ea610ecaf080ca494d886b7c47cea910f9b9d discusses the purpose for the merge script; it would be good to have a summary of that rather long commit message somewhere in the README, such as under a Building Releases section.

[2019-10-04 01:19] #36 closed, assigned to nobody

[2019-10-04 01:30] elespike commented on #41
Hi, @Jnchi

The 3.0 release was the first time I used `CPH_Merger.py` for a tagged release on GitHub. Before then, it was just meant to help deploy the extension into Burp's BApp store.

Since I'm now using it for releases, I agree with you and will add a bit about it in the README.

All it does is concatenate all the relevant code into a single file :stuck_out_tongue:

In the main directory, wher

[2019-10-04 13:06] Jnchi commented on #41
Thank you for explaining this.

[2019-12-10 14:47] Hipapheralkus opened #43 "Transparent global parsing of responses"
Would it be possible to add a global transparent rule to hook into all responses for parsing? As far as I can tell, at this point, CPH needs to create some traffic for parsing. I hope it will be more clear on my API example:

Request 1:
[code]

Response 1 (a unique identifier is used, which I need to parse and remember):
[code]

Request 2 (note the change in URL, to use parsed value from the last

[2019-12-15 15:00] elespike commented on #43
Hi, @Hipapheralkus

You can absolutely do that with CPH. =)

See https://github.com/elespike/burp-cph/wiki/08.-Utilizing-cached-responses

In short, you would set up one tab scoped to the first request, without doing any modifications on it. Then, a second tab scoped to the second request can look into the cached response of the first tab in order to make necessary modifications.

[2019-12-17 14:59] Hipapheralkus commented on #43
This is perfect and thanks to your help, I was able to create what I needed:) Awesome and powerful extender:)

[2019-12-17 14:59] #43 closed, assigned to nobody

[2019-12-19 03:09] elespike commented on #43
My pleasure, glad to hear! :D

[2019-12-31 02:52] kgarmin opened #44 "Find/Replace not working with RegEx"
I'm trying to do a simple find/replace on a request.  When I set up CPH to replace one word with another, it works find. However, if I use a RegEx to define the target, CPH just doesn't work.  See attached. I'm new to pen testing & would appreciate any help you could give. Thank you:) ~Kate; kgarmin@gmail.com

[cph problem.pdf](https://github.com/elespike/burp-cph/files/4011786/cph.problem.pdf)

[2020-01-06 02:07] elespike commented on #44
Hi, @kgarmin.

Thanks for pointing this out. I've been able to reproduce it and will investigate.

Meanwhile, to get your setup working, do the following:
1. In "Find matches to this expression", check the RegEx box and enter `".*?"` (same as what you had, just without the capturing group).
2. In "Replace each target with this expression, also check the RegEx box and enter your desired value, incl

[2020-01-06 02:51] elespike commented on #44
I may have found the issue. Since it'll require additional testing, I've created a branch:
https://github.com/elespike/burp-cph/tree/issue-44

If you would use that potential fix to help battle-test it as well, I'd be much obliged. =)

[2020-01-31 21:59] riramar opened #45 "Feature Request: Scan a parameter inside a base64 encoded string"
Not sure if it's possible but I'd like to have Burp Scanner injecting inside a JWT in a request authorization header.
Is it possible to do that with the actual features?

[2020-02-01 17:28] elespike commented on #45
Hi, @riramar

Short answer: not without some hackery, and CPH is probably not the best tool for this job.

Long answer:
- You could do it with Burp Intruder if you supplied the modified JWTs ahead of time; that is, you'd have to know and prepare the payloads in advance.
- You could try one of the following extensions:
    - [JSON Web Token Attacker](https://portswigger.net/bappstore/82d6c60490b540

[2020-02-02 15:18] riramar commented on #45
Thanks a lot for a so complete answer! I'll check and if I can do it I'll let you know.

[2020-02-02 15:18] #45 closed, assigned to nobody

[2020-02-29 17:22] tzuk-pl opened #46 "Infinite horizontal scrolling - Burp v2020.1"
When a CPH tab uses the "values returned by issuing a single request" the HTTP message editor window has an infinite scrolling issue.

This issue has been reported by Burp Suite to other extensions, including upload scanner:

https://github.com/modzero/mod0BurpUploadScanner/issues/60

![image](https://user-images.githubusercontent.com/32782267/75612044-0a50b880-5aee-11ea-8bac-140e399e1210.png)

[2020-02-29 17:45] tzuk-pl opened #47 "Carriage Return Being Stripped"
### Issue

Encountered an issue where the Carriage Return ASCII character (0d in hex, \r) is being stripped from matching lines causing malformed HTTP requests.

Below shows a sample CPH tab configured to replace an Authorization bearer header token that will currently result in a malformed HTTP request. This configuration previously worked. This issue appears to occur when the initial match (box

[2020-03-02 14:21] elespike commented on #46
Thanks for reporting this! I'll have a closer look this week and push out a new version to BApp soon. =)

[2020-03-02 14:23] elespike commented on #47
Thanks for the bug report! I'll have a look this week to hunt down which change caused this and restore the proper behavior.

[2020-03-02 16:27] elespike commented on #46
@HannahLaw-Portswigger, is there a workaround for this?

I can't simply remove the parent JScrollPane. I've tried setting horizontal scroll policies and maximum component sizes, all to no avail.

Here are some relevant lines:
- Define HTTP message editors:
  https://github.com/elespike/burp-cph/blob/master/CPH_Config.py#L1149-L1150
- Put them in a JSplitPane:
  https://github.com/elespike/burp-cph

[2020-03-02 17:12] Hannah-PortSwigger commented on #46
The new message editor has a scroll pane as part of it. With a scroll pane inside a scroll pane, it causes the infinite scrolling issue.

As far as I'm aware I haven't seen someone fix this yet (as the original extension I opened the issue on still is yet to respond).

If you can't remove the scroll pane instance, you could try changing the message editor to something different instead. Perhaps th

[2020-03-02 18:08] elespike commented on #46
@HannahLaw-Portswigger, from what I can tell, the infinite scrolling issue doesn't apply to any `JScrollPane`, but seems to be a bug with Burp's message editor.

This, for example, works perfectly when the text in the `JTextArea` overflows in either direction:
[code]

In any case, thanks for the suggestion to use an `ITextEditor`. That will suffice for the purposes of this component.

[2020-03-02 18:25] elespike commented on #46
Nope, `ITextEditor` has the same issue. =(

[2020-03-02 18:44] elespike commented on #47
@tzuk-pl, I went back all the way to the [3.0 RC1](https://github.com/elespike/burp-cph/releases/tag/3.0-rc1) release, and this behavior is still present there.

While I agree it's not intuitive and less than ideal, the behavior itself is correct:
- You're looking for `.*` at the end of the expression, which matches anything except a newline/line feed (`0a`), so your target match includes the carr

[2020-03-02 19:00] tzuk-pl commented on #47
Thanks for looking at this quickly!  I'll be sure to note down the behaviour for future reference, I must have been doing something slightly different with my matching before to avoid matching `\r`. Thanks for the quick top as well.

Cheers

[2020-03-02 21:41] elespike commented on #47
My pleasure! I'll keep this open for some time while I think about enhancements.

[2020-03-09 15:35] Hannah-PortSwigger commented on #46
Sorry for the late response.

I've had a play around with the original issue linked (mod0burpuploadscanner) and the issue is definitely caused by the instance of JScrollPane (in their case, it was a one-line fix to remove the JScrollPane instance, although it does mess up the rest of their UI).

I've had a quick look at yours, but as you say, you can't just remove the scroll pane instance and have

[2020-03-10 04:09] elespike commented on #46
Hi, @HannahLaw-Portswigger. Thanks for continuing to look into this.

After some additional tests, I've seen the opposite in my case. That is, it doesn't seem to be a `JScrollPane` issue for me. I have:
- Replaced Burp's message editor with a `JScrollPane(JTextArea())`: **no** infinite scroll
- Converted my parent component from a `JScrollPane` into a `JPanel` while using Burp's message editor, an

[2020-03-10 07:58] Hannah-PortSwigger commented on #46
Thank you for that information.

Would you be able to email us at support@portswigger.net so that I can raise this as a ticket for further investigation?

[2020-03-12 03:07] elespike commented on #46
Email sent :+1:

[2020-03-16 23:51] elespike commented on #46
@tzuk-pl, they've identified the issue on their end. The fix will be included in the next release of Burp. :+1:

Thanks for your help, @HannahLaw-Portswigger

[2020-04-27 11:36] Hannah-PortSwigger commented on #46
We're pleased to announce the release of Burp v2020.4

[2020-09-08 11:21] KwnyPwny commented on #46
I have the infinite scrolling problem in Burp v2020.9 using CPH 3.0.

[2020-09-15 13:48] GabrielN-23 opened #48 "Find and replace with + and = symbols"
Hi, using regex find and replace, when the dynamic value contains a + and a = in the pattern "+(.\*)?=", the picker fails to operate.
Test case:
I set up a python simplehttpserver to return a string. If the string matches the pattern +(.\*)?= then the entire process fails. Instead of replacing the string, it appends it. EG:

Request header: (found with regex "Basic .*"
Basic replaceme

Obtain stri

[2020-10-10 04:18] elespike commented on #48
Hi, rgb-rgb

Thanks for your detailed report! I did have a brief look when you submitted it but I still need to dig deeper and currently am pretty tied up with life, so bear with me. =)

On Tue, Sep 15, 2020, at 09:49, rgb-rgb wrote:

[2021-01-18 09:32] ba1ma0 opened #49 "When i install your extension i meet a big problem!If it is possible please help me to solve it !Thank you"
I tried all kinds of way to install this extension, none of them success
![截屏2021-01-18 下午5 29 53](https://user-images.githubusercontent.com/32502627/104897137-fd151480-59b2-11eb-88ef-cd5607f6aeff.png)
![截屏2021-01-18 下午5 29 57](https://user-images.githubusercontent.com/32502627/104897143-ff776e80-59b2-11eb-83e6-e01f64a6e1c9.png)

[2021-01-18 09:45] #49 closed, assigned to nobody

[2021-01-18 09:45] ba1ma0 commented on #49
https://repo1.maven.org/maven2/org/python/jython-standalone/2.7.0/jython-standalone-2.7.0.jar
download this !

[2021-01-25 08:21] MartinRJ opened #50 "Replace-expression escapes some characters (underscore, colon, backslash)"
The "replace" expression escapes some characters, I haven't found a way to suppress this.
That means, it's simply not possible to use it to replace the target with a value that contains for example an underscore, a backslash, or a colon.
Because it will be escaped, and become \_, \\ or \:

Example:
![image](https://user-images.githubusercontent.com/3988789/105679358-9c279800-5eee-11eb-9cec-9d74cb9

[2021-01-26 03:32] ba1ma0 opened #51 "Need your help"
Hi  Marius! First of all thank you very much for your burp-cph,it helps me a lot ! But i meet a  scenario that seems can't be solved by this burpsuite extension
Scenario description likes below:
![截屏2021-01-26 上午11 15 40](https://user-images.githubusercontent.com/32502627/105796368-a9658500-5fc9-11eb-99fd-354956801a26.png)
In this kind of scenario , how could i use this extension to issue a right

[2021-01-31 04:11] elespike commented on #50
Hi, @MartinRJ

Thanks for reaching out. Indeed that is the case, and as far as I remember it's intended:
https://github.com/elespike/burp-cph/issues/37

I'll have a closer look to see if something's up. For now, does enabling regex on step 3 help you?

[2021-01-31 04:17] elespike commented on #51
Hi, @ba1ma0

Thanks for reaching out, and I'm happy the extension has helped you =)

To clarify, are `token`, `publickey`, `challenge`, and `validate` found in the **responses** to requests 130 and 139?

If that's the case, you can target those requests for caching in order to obtain those values later for request 140:
https://github.com/elespike/burp-cph/wiki/08.-Utilizing-cached-responses

[2021-01-31 04:56] elespike commented on #48
@rgb-rgb

Apologies for the delay. I haven't been able to reproduce your issue, unfortunately.
I'm running the latest version of Burp Community as of today:
![Screenshot_20210130_225555](https://user-images.githubusercontent.com/14970655/106375047-50da1300-634e-11eb-9096-1f4dbc225bcd.png)

[2021-01-31 05:01] elespike commented on #46
@HannahLaw-Portswigger, in addition to the comment above, I've seen the scrolling issue happening again on `2020.12.1`, FYI.

To reproduce with `burp-cph`:
1. Load the extension and navigate to its `CPH Config` tab
2. Create a new configuration tab (click `+` next to Options)
3. Click the checkbox labeled "the value I need is dynamic"
4. Click the `Clone` button at the top of the pane

[2021-01-31 10:53] MartinRJ commented on #50
No, it's not possible to get rid of it.

[2021-01-31 13:08] MartinRJ commented on #50
Thank you much, it worked with RegEx enabled.

[2021-01-31 13:08] #50 closed, assigned to nobody

[2021-01-31 19:00] elespike commented on #50
Excellent, I'm also making a few changes to make that particular field more intuitive and match the behavior you and #37 expected.

[2021-02-01 01:45] ba1ma0 commented on #51
Ok thank you very much !☺️😊

[2021-02-01 02:25] elespike commented on #51
👍 happy to help

[2021-02-01 09:55] Hannah-PortSwigger commented on #46
Hi, could you drop us an email at support@portswigger.net (if you haven't already) so that we have an open ticket for this issue?

Cheers!

[2021-02-01 23:36] elespike commented on #46
Done, thanks for your help! =)

[2022-02-04 11:54] 0xElessar opened #52 "Burp Proxy hangs"
Hey,

thanks for the great plugin. It was helping me through so many security assessments. Unfortunately, with the newest Burp Pro version v2021.12.1 and with only CPH plugin enabled, the Burp process hangs indefinitely after the active scanning is run for about 15-30 minutes :(

Any help or suggestion?

thanks
Rafal

[2022-02-05 04:15] elespike commented on #52
Hi, @0xElessar =)

Glad the plugin has been useful!

Did you happen to notice any error messages? Does it only happen with the scanner? Are you able to share your configuration?

I'll have a look. Some of the recent UI changes in Burp haven't been too good for the plugin. =/

[2022-02-05 04:15] #51 closed, assigned to nobody

[2022-02-05 04:17] #48 closed, assigned to nobody

[2022-02-05 14:40] 0xElessar commented on #52
Hey @elespike ,

thank you for your response.

No error message. Burp got stuck only during scanning.

But I think I have managed to fix it by limiting resources and setting max concurrent connection to 1 for scanner. Maybe there was some race condition in new version of Burp and CPH. I have never experienced that before. But if I notice it again, I will update you asap.

thanks again for your wor

[2022-09-12 15:36] pavithraasok commented on #51
Hi Marius, thank you for giving more explanation on cph.
I have an internal website which passes almost 5 parameters for login and two along the Url
Got an error while caching the first parameter as preliminary scope check negative!
Can you please help me to understand more on overcoming this?

[2022-09-20 20:19] pavithraasok opened #53 "Need help in extracting parameters using CPH extension"
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/99052624/191356822-2bf9f832-b937-403d-b707-4d031d7790a7.png)
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/99052624/191356752-5ea22893-0576-43e8-b739-f97116a2c869.png)
I am having an internal application where I am trying to automate the testing using CPH extension. It handles few parameters dynamically.

[2022-09-29 00:46] elespike commented on #53
Hello,

I'll see if I can have a closer look soon - meanwhile, are you able to share the regular expressions that you're trying to use?

On Tue, Sep 20, 2022, at 15:19, pavithraasok wrote: